*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
<<<<<<< HEAD
    background-color: rgb(0, 115, 216);
=======
    background-color: rgb(108, 191, 255);
>>>>>>> ef87efa82e335031fc5f54e22720753efe776f8e
}
.container{
    width: 300px;
    height: 290px;
<<<<<<< HEAD
    background-color: rgb(191, 196, 201);
=======
    background-color: rgb(255, 255, 255);
>>>>>>> ef87efa82e335031fc5f54e22720753efe776f8e
    border-radius: 15px ;
    display: flex;
    flex-direction: column;
    margin: 380px;
    max-width: 400px;
}

.login-box h2{
    text-align: center;
    margin: 20px;
    justify-content: center;
    
    
}
.toggle button{
    display: flex;
    justify-content: space-around;
    width: 100px;   
    height: 20px;
    align-items: center;
    
}
<<<<<<< HEAD
.input-box{
    text-align: center;
=======
.toggle{
    display: flex;
    justify-content: center;
    gap: 20px;
    

}
.input-box{
    width: 100px;
    justify-content: center;
>>>>>>> ef87efa82e335031fc5f54e22720753efe776f8e
}