*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(108, 191, 255);
}
.container{
    width: 300px;
    height: 290px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px ;
    display: flex;
    flex-direction: column;
    margin: 380px;
    max-width: 400px;
}

.login-box h2{
    text-align: center;
    margin: 20px;
    justify-content: center;
    
    
}
.toggle button{
    display: flex;
    justify-content: space-around;
    width: 100px;   
    height: 20px;
    align-items: center;
    
}
.toggle{
    display: flex;
    justify-content: center;
    gap: 20px;
    

}
.input-box{
    width: 100px;
    justify-content: center;
}